.App {
  text-align: center;
  font-family: sans-serif;
}

.convo {
  border-style: solid;
  border-width: thick;
  border-color: black;
  height: 450px;
  margin: 100px auto;
  position: relative;
  width: 500px;
  box-shadow: 8px 4px 4px black;
  overflow: scroll;
}

.input {
  display: inline-flex;
}

.message {
  resize: none;
  height: 75px;
  border-width: thick;
  border-color: black;
}

.send {
  margin-left: 20px;
  border-color: black;
  border-width: thick;
  border-style: solid;
  background-color: white; 
  height:90px;
  width:75px; 
  cursor:pointer;
  font-size: medium;
}

.send:hover {
  background-color: black;
  color:white;
}

/* .outgoing-msg {
  float:right;
  margin-right: 35px;
  border-style: solid;
  padding: 10px 10px 10px 10px;
  border-color: black;
}

.incoming-msg {
  float:left;
  margin-left: 35px;
  border-style: solid;
  padding: 10px 10px 10px 10px;
  border-color: black;
} */


